.about {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.about__page-navigation {
  display: flex;
  justify-content: space-between;
}

.about__strong {
  font-size: var(--text-size-heading4);
  font-weight: 700;
}

.about__select {
  background-color: transparent;
  border: none;
  color: white;
}

.about__image {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.about__img {
  width: 155%;
}

.about-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;

  padding: 4rem 2rem 2rem 2rem;
}

.about-description__title {
  font-size: var(--text-size-heading6);
  font-weight: 700;
}

.about-description__p {
  color: var(--text-secondary-shades3);
}

.biggest-branding {
  width: 90vw;
  max-width: 310px;
  height: 90vw;
  max-height: 310px;

  box-shadow: 0px 25px 39px 10px rgb(0 0 0 / 22%);

  border-radius: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 4rem 0;
}

.biggest-branding__number {
  font-size: var(--text-size-display1);
  font-weight: 700;
}

.biggest-branding__title {
  font-size: var(--text-size-body1);
  font-weight: 600;
}

.about__img--tablet {
  display: none;
  width: 100%;
}

.about-description__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 1024px) {
  .about {
    background-image: url(../../assets/icons/path4.svg);
    background-repeat: no-repeat;
    background-position: left top;
  }
  .about__img--tablet {
    display: block;
  }
  .about__img {
    display: none;
  }

  .about__select {
    display: none;
  }

  .section__title {
    grid-area: title;
  }

  .about__strong {
    grid-area: strong;
  }

  .about__page-navigation {
    grid-area: nav;
  }

  .about-title-wrapper {
    padding-left: 22.5%;
    display: grid;
    justify-content: space-between;
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-areas: 'title nav' 'strong nav';
  }

  .about-description {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    gap: var(--text-size-heading3);
  }
}
