.services {
  background: url(../../assets/icons/path2.svg) no-repeat;
  background-position: center center;

  padding: 0 var(--text-size-display0);
}

.services-wrapper {
  background: var(----gradient1);
}

.services-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 100%;

  padding: 2rem;
}

.services-list__item {
  background-color: var(--light);
  border-radius: 2rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;

  padding: 2rem 1rem;

  box-shadow: var(--box-shadow2);

  position: relative;
}

.services-list__item:hover {
  background-color: var(--primary);
  box-shadow: none;
  color: var(--light);
}

.services-list__item:hover > .service-list__title {
  color: var(--light);
}

.services-list__img {
  width: 40%;
}

.service-list__title {
  color: var(--primary);
  font-size: var(--text-size-body1);
  font-weight: 600;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.successful-projects {
  padding: 0 2rem 2rem 2rem;
}

.successful-projects__span {
  font-size: var(--text-size-display0);
  font-weight: 600;
  color: var(--primary);
  display: inline-block;
  margin-bottom: 1rem;
}
.successful-projects__p {
  font-size: var(--text-size-body1);
  font-weight: 600;
}

.swiper-slide img {
  width: 100%;
  max-width: 329px;
}

.swiper-pagination-bullet {
  box-shadow: var(--box-shadow3);
}

.swiper-pagination-bullet-active {
  background: var(--gradient2);
}

@media screen and (min-width: 1024px) {
  .services {
    padding: var(--text-size-display1);
    background-position: right 55vh;
  }
  .services_path {
    background-image: url(../../assets/icons/path2.svg);
    background-repeat: no-repeat;
    background-size: 40%;
  }
  .title-wrapper-container {
    width: 100%;
  }

  .services__title-wrapper {
    margin: 0 auto;
  }

  .services-list {
    flex-direction: row;
  }

  .services-list__item {
    height: 21.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .services-list__item:hover {
    scale: 1.15;
    z-index: 4;
  }

  .achievements {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;

    justify-content: space-around;
  }

  .carousel {
    width: 28.81rem;
  }

  .services-list__item {
    box-shadow: none;
  }

  .services-list {
    background-color: var(--light);
    border-radius: 1.5rem;
    box-shadow: 0px 8px rgba(226, 226, 226, 0.288);
    margin-bottom: 2rem;
  }

  .achievements__title {
    max-width: 35rem;
  }
}

@media screen and (min-width: 1440px) {
  .services_path {
    background-size: 20%;
  }

  .services-list {
    justify-content: center;
  }

  .services-list__item {
    max-width: 300px;
    height: 560px;
  }
}
