.work {
  overflow-x: hidden;
}

.work__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  align-items: flex-start;
  padding: 0 2rem;
}

.work__tittle {
  font-size: var(--text-size-heading4);
  font-weight: 700;
}

.work__description {
  font-size: var(--text-size-body2);
  color: var(--text-secondary-color);
  line-height: var(--text-size-heading6);
}

.work__image {
  width: 100%;
  margin-left: 15%;
}

.work-list {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.work-list__item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.work-list__img {
  width: 100%;
  max-width: 30rem;
}

.work-list__title {
  font-size: var(--text-size-heading6);
  font-weight: 700;
  color: var(--dark);
}

.work-list__link {
  width: 48px;
  height: 48px;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100%;
}

.link__wrapper {
  padding: 3rem 2rem;
}

@media screen and (min-width: 1024px) {
}
