.button {
  border: none;
  border-radius: var(--border-radius);
  padding: 1rem 2rem;

  background-color: var(--primary);
  color: var(--light);

  cursor: pointer;

  text-decoration: none;
  text-align: center;

  width: auto;

  display: inline-block;
}

.button:hover {
  filter: brightness(0.9);
}
