.footer {
  display: flex;

  flex-direction: column;

  align-items: center;

  padding: 2rem;

  gap: 1rem;

  text-align: center;

  max-width: 100vw;
  overflow: hidden;

  background: url(../../assets/icons/path2.svg) no-repeat;
  background-position: -100px bottom;
}

.footer__img,
.footer__img--tablet {
  width: 100%;
  max-width: 1100px;
}

.footer__text {
  color: var(--text-secondary-shades2);
}
.footer__logo {
  margin-top: 5rem;
}
.footer__select {
  padding: 1rem;
  border: 1px solid black;
  width: 100%;
  border-radius: 10px;
}

.footer__img--tablet {
  display: none;
}

.footer_navbar {
  display: none;
}

.footer__footer {
  display: none;
}

@media screen and (min-width: 1024px) {
  .footer__img {
    display: none;
  }
  .footer__img--tablet {
    display: block;
  }

  .footer__select {
    display: none;
  }

  .footer__text {
    font-size: 1rem;
  }

  .footer_navbar {
    display: block;
    margin-top: 1.6rem;
    padding-bottom: 3rem;
  }

  .footer > .footer__social {
    display: none;
  }

  .footer__footer {
    width: 100vw;
    display: flex;

    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;

    padding: 1rem 2rem;
  }
}
