.navigate-button {
  display: inline-block;
  font-size: 0;

  border-radius: 100%;
  padding: 1.1rem 1rem;
}

.navigate-button--light img {
  filter: invert(100%);
}

.navigate-button--light:hover img {
  filter: invert(0%);
}

.transparent {
  background-color: transparent;
}

.navigate-button:hover {
  background-color: var(--primary);
}
