.title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 4rem 2rem 2rem 2rem;
}

.heading4 {
  font-size: var(--text-size-heading4);
  font-weight: 700;

  max-width: 65vw;

  white-space: wrap;
}

.heading6 {
  font-size: var(--text-size-heading6);
  font-weight: 700;

  max-width: 65vw;

  white-space: wrap;
}

.light {
  color: var(--dark);
}

.dark {
  color: var(--light);
}
